authentication = [
  {
    mechanism = password_based
    backend = http
    enable = true
    method = post
    url = "http://api:8788/emqx/auth"
    body {
      clientid = "${clientid}"
      username = "${username}"
      password = "${password}"
      peerhost = "${peerhost}"
    }
    headers {
      "Content-Type" = "application/json"
    }
    pool_size = 8
    connect_timeout = "5s"
    request_timeout = "5s"
  }
]

authorization {
  no_match = deny
  deny_action = disconnect
  cache {
    enable = true
    max_size = 1024
    ttl = "30s"
  }
  sources = [
    {
      type = http
      enable = true
      method = post
      url = "http://api:8788/emqx/authz"
      body {
        clientid = "${clientid}"
        username = "${username}"
        topic = "${topic}"
        action = "${action}"
        peerhost = "${peerhost}"
      }
      headers {
        "Content-Type" = "application/json"
      }
      pool_size = 8
      connect_timeout = "5s"
      request_timeout = "5s"
    }
  ]
}

listeners.tcp.default {
  bind = "0.0.0.0:1883"
  max_connections = 10240
}

listeners.ws.default {
  bind = "0.0.0.0:8083"
  max_connections = 10240
}

rule_engine {
  rules {
    "bmp_client_disconnected" {
      enable = true
      sql = "SELECT clientid, username, reason, disconnected_at, event FROM \"$events/client_disconnected\""
      actions = ["webhook:bmp_disconnect_hook"]
    }
  }
}

actions {
  webhook {
    bmp_disconnect_hook {
      connector = bmp_http_connector
      parameters {
        path = "/emqx/webhook"
        method = post
        body = "${.}"
        headers { "content-type" = "application/json" }
      }
      resource_opts { request_ttl = "5s" }
    }
  }
}

connectors {
  http {
    bmp_http_connector {
      url = "http://api:8788"
      connect_timeout = "5s"
      pool_size = 4
    }
  }
}

listeners.ssl.default {
  bind = "0.0.0.0:8883"
  max_connections = 10240
  ssl_options {
    certfile = "/opt/emqx/etc/certs/emqxsl-cert.pem"
    keyfile = "/opt/emqx/etc/certs/emqxsl-key.pem"
    verify = verify_none
  }
}
